<style>
    a{
        <%if(name==='yy'){ %>
        color: red;
        <% } else { %>
         color:blue;
        <%}%>
    }
</style>
<div class="panel panel-info myDisplay text-center" >
    <a href="/"><%= name %> </a>
</div>
